/* Global Variables */
:root {
    --primary-color: #435D82; /* Blue */
    --secondary-color: #AEE5D1; /* Green */
    --text-color: #000; /* Dark text */
    --background-color: #fff; /* White background */
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --border-radius: 5px;
    --transition-speed: 0.3s;
  }
  
  /* Global Styles */
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    color: var(--primary-color);
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-speed);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  /* Example Button */
  button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  